h1 {
    background-color: red;
    display: grid;
    width: 363px;;
    height:750x;
    text-align: center;
    color: white;
    font-size: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

p {
    background-color: lightgray;
    width: 300px;
    font-size: 38.5px;
    display: inline-flex;
    text-align: center;
    border-style: solid;
    padding: 28px;
    margin: -35px 0px;
    border-width: 3px;
    border-color: red;
    border-top-width: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: cursive;
    border-bottom-width: 50px;

}
#input {
    align-items: center;
    height: 35px;
    margin-left: 40px;
    text-align: center;
}

#button {
    background-color: red;
    color:white;
    border-radius: 15px;
    margin-left: 10px;
}
#text-space {
    font-size: 30px;
    margin-left: 35px;
    margin-bottom: 100px;
    color: white;

}
